<h1><%= @dojo.name%></h1>
<div id="countdown">
  
</div>
<p>
  <input type="button" name="pause" id="pause" value="Start">
  <input type="button" name="restart" id="restart" value="Restart">
</p>
<div id="participants">
  
</div>