<h1><%= @dojo.name%></h1>
<div id="countdown"></div>
<p>
  <input type="button" name="pause" id="pause" value="Start">
  <input type="button" name="restart" id="restart" value="Restart">
</p>
<div id="participants">
  <h2>Participantes <span>quero participar também</span></h2>
</div>
<% content_for(:javascripts) do %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<%= javascript_include_tag "jquery.countdown.pack.js" %>
<script type="text/javascript">
  $(document).ready(function() {
    $('#countdown').countdown({until:+300, format: 'DHMS', layout: 
      '<div id="timer">' + '<hr />'+
      '<div id="timer_hours" class="timer_numbers">{mnn}</div>'+ 
      '<div id="timer_mins" class="timer_numbers">{snn}</div>'+
      '<div id="timer_labels">'+
      '<div id="timer_days_label" class="timer_labels">mins</div>'+
      '<div id="timer_hours_label" class="timer_labels">secs</div>'+
      '</div>'+
      '</div>'
    });
    $('#pause').toggle(function() { 
      $(this).val('Start'); 
      $('#countdown').countdown('pause');
    }, 
    function() { 
      $(this).val('Pause'); 
      $('#countdown').countdown('resume'); 
    });
    $("#pause").click();
    $("#restart").click(function() {
      $('#countdown').countdown('resume'); 
      $('#countdown').countdown('change', {until: +300});
    })
  });
</script>
<% end %>
